[submodule "backend-ways-gallery"]
	path = backend-dumbmerch
	url = https://github.com/MDF05/Dumbmerch-Backend.git
[submodule "frontend-ways-gallery"]
	path = frontend-dumbmerch	
	url = https://github.com/MDF05/Dumbemerch-Frontend.git