[submodule "backend-dumbmerch"]
	path = backend-dumbmerch
	url = https://github.com/MDF05/Dumbmerch-Backend.git
[submodule "frontend-dumbmerch"]
	path = frontend-dumbmerch	
	url = https://github.com/MDF05/Dumbemerch-Frontend.git